.parent {
    width: 100%;
    min-height: 50vh;
    border: 1px solid tomato;
    display: block;
    position: relative;
}

.children {
    border: 2px solid green;
    display: inline-flex;
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 50px;
}

.new {
    border: 3px solid red;
    position: absolute;
    top: 140px;
    width: 70px;
    height: 70px;
    background-color: yellow;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.on {
    border: 3px solid blue;
    position: absolute;
    top: 220px;
    left: 100px;
    width: 70px;
    height: 70px;
    animation-name: onn;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    ;
}

@keyframes example {
    0% {
        background-color: yellow;
        left: 0px;
        top: 140px;
    }

    25% {
        background-color: green;
        left: 200px;
        top: 140px;
    }

    50% {
        background-color: black;
        left: 200px;
        top: 300px;
    }

    75% {
        background-color: red;
        left: 0px;
        top: 300px;
    }

    100% {
        background-color: yellow;
        left: 0px;
        top: 140px;
    }
}

@keyframes onn {
    0% {
        background-color: blue;
        left: 100px;
        top: 220px;
        transform: rotate(120deg);
    }

    25% {
        background-color: green;
        left: 100px;
        top: 220px;
    }

    50% {
        background-color: black;
        left: 100px;
        top: 220px;
    }

    75% {
        background-color: red;
        left: 100px;
        top: 220px;
    }

    100% {
        background-color: blue;
        left: 100px;
        top: 220px;
    }
}

/* css transitions */

.tran {
    border: 2px solid red;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 220px;
    left: 400px;
    transition: width 2s, height 2s, transform 2s;
}

.tran:hover {
    width: 250px;
    height: 250px;
    transform: translateX(100px)
}